@model Restaurant

<div class="container shadow border-0 mt-4">
    <div class="card-body border-0 p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="row pb-2 ml-3">
                <h2 class="text-black">
                    Edit Restaurant
                </h2>
            </div>
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-6">
                    <label asp-for="Name" class="ms-2"></label>
                    <input asp-for="Name" class="form-control border-0 shadow" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="Cuisine" class="ms-2"></label>
                    <input asp-for="Cuisine" class="form-control border-0 shadow" />
                    <span asp-validation-for="Cuisine" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="Location" class="ms-2"></label>
                    <input asp-for="Location" class="form-control border-0 shadow" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="ImageUrl" class="ms-2"></label>
                    <input type="file" name="file" class="form-control border-0 shadow" />
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="IsActive" class="ms-2"></label>
                    <input asp-for="IsActive" class="form-check-inline border-1 shadow" />
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Restaurant" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}